{% extends 'base.html.twig' %}

{% block title %}Promeni lozinku{% endblock %}

{% block body %}

    <div class="w-50 mx-auto my-5 p-4 border rounded bg-white">
        <h1>Promena lozinke</h1>
        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-primary pinkBtn">Izmeni</button>
        {{ form_end(form) }}
    </div>

{% endblock %}