{% extends 'base.html.twig' %}

{% block title %}Moj profil {% endblock %}

{% block body %}

    <div class="whiteCard50">
        <h1>Tvoji podaci</h1>
        <br>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
        <button type="submit" class="btn btn-primary pinkBtn">Izmeni</button>
        {{ form_end(form) }}
    </div>

{% endblock %}