{% extends 'base.html.twig' %}

{% block title %}Izmeni korisnika - Admin{% endblock %}

{% block body %}
    <div class="whiteCard50">
        <h1>Izmeni korisnika</h1>
        <br>
        {{ include('admin/_form.html.twig',{
            btn_title: 'Izmeni'
        }) }}
    </div>
{% endblock %}