{% extends 'base.html.twig' %}

{% block title %}Verifikovanje naloga{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="whiteCard75 text-center">
        <h1 class="mb-5">Verifikovanje naloga</h1>
        <p>
            Verifikacioni mejl je poslat. Da biste mogli da se prijavite kliknite na link u mejlu.
        </p>
        <br>
        <p>
            Za novi verifikacioni link kliknite na dugme ispod.
        </p>
        <br>
        <a href="{{ path('app_verify_resend_email', { 'id' : user.id } ) }}" class="btn btn-primary">Ponovo pošalji mejl</a>
    </div>

</div>

{% endblock %}