{% extends 'base.html.twig' %}

{% block title %} Početna stranica {% endblock %}

{% block body %}

    <div class="container text-center homeDiv">
        <h1>Dobrodošli u info<span style="color:#F482D4;">salu</span>!</h1>
        <p>- mesto za rezervisanje sala za sastanke -</p>
        <a href="{{ path('app_showall_room') }}" class="btn btn-primary pinkBtn">Započni!</a>
    </div>

{% endblock %}