{% extends 'base.html.twig' %}

{% block title %}Dodaj sastanak - Admin{% endblock %}

{% block body %}
    <div class="w-50 mx-auto mt-5 p-4 border rounded bg-white">
        <h1>Kreiraj sastanak</h1>
        <br>
        {%  if error_msg %}
            <div class="alert alert-danger">
                {{ error_msg }}
            </div>
        {% endif %}

        {{ include('admin/_form.html.twig',{
            btn_title: 'Kreiraj'
        }) }}
    </div>
{% endblock %}