{% extends 'base.html.twig' %}

{% block title %}Nova soba - Admin{% endblock %}

{% block body %}
    <div class="whiteCard50">
        <h1>Dodaj novu salu</h1>
        <br>
        {{ include('admin/_form.html.twig',{
            btn_title: 'Dodaj'
        }) }}
    </div>
{% endblock %}