{%  extends 'base.html.twig' %}

{% block title %}Admin home page{% endblock %}

{% block body %}

<div class="container mx-auto">
    <h1>hi admin</h1>

    <a href="{{ path('admin_insert_room') }}" class="btn btn-primary w-50 my-3" type="button">Dodaj novu sobu</a>

</div>

{% endblock %}