{%  extends 'base.html.twig' %}

{% block title %}Admin home page{% endblock %}

{% block body %}

<div class="container mx-auto ">
    <h1>hi admin</h1>

    <a href="{{ path('admin_showall_room') }}" class="btn btn-light w-50 my-3" type="button">Sve sobe</a>
    <a href="{{ path('admin_showall_users') }}" class="btn btn-light w-50 my-3" type="button">Svi korisnici</a>
    <a href="{{ path('admin_showall_sectors') }}" class="btn btn-light w-50 my-3" type="button">Svi sektori</a>

</div>

{% endblock %}