body {
    background-color: #0089DE;
}
.pinkBtn{
    background-color: #F482D4;
    border: none;
}
.btn{
    box-shadow: 4px 4px 2px rgba(0,0,0,0.15);
}
.pinkBtn:hover{
    background-color: #DE76C0;
}
.blueText{
    color: #0089DE;
}
.homeDiv{
    color: white;
    margin-top: 180px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.nav-link{
    color: white !important;
}
.badge{
    font-size: 8pt !important;
}
#timelineList{
    height: 100px;
}
